%p
  Where we start building our application.
  The landing page of users.

  %h3
    TODO:

  %p
    UI, 我们需要menu的样子，基本元素的感觉和样子。产品的色调。

  %p
    User Login, Logoff, Registration(devise pages)
    我会去做这些个screen， 很简单主要的问题是我们默认的主题和网站元素的looking。

  %p
    Main page (add order scrren)
    我们讨论的最关键的那个screen， 其他的链接在这里都是JS call 会打开窗口什么的。不会跳转到其他的地方。
    但是我们也可以在第一个周期的时候做点跳转窗口然后用turolinks 链接起来。

  %p
    Dashboard (this screen)
    用户需要在这里看到他们所有的订单。
    这里有2个链接:

    %ul
      %li
        Add order
        最核心的那个屏幕
      %li
        Report
        我们第二个阶段才会去做的报表
