%h2 
  Dashboard

.row
  .col-lg-8.light-border
    Orders STATS

    %p
      Charts
  .col-lg-3.light-border
    Customer STATS

    %p
      Charts

.clearfix

%hr

.clearfix

.row
  .col-lg-12.light-border
    SMART LISTING ORDERS
