@import './configs/_colors';

.login-box {
  background-color: white;
  margin-top: 20%;
  min-height: 488px;
}


.login-bg {

}

.fullscreen {
  margin: 0;
  padding: 0;

  body {
    margin: 0;
    padding: 0;
  
  }
}
