@import './configs/_colors';

.ea-products {
  position: absolute;

  .search-results {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 0 0 4px 4px;
    margin: -26px 4px 4px 22px;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 0 0 4px;
    position: relative;
    width: 388px;
    background: white;
    z-index: 1000;

    .search-result-row {
      padding: 3px 7px 4px;
      cursor: pointer;
    }

    .search-result-row:hover {
      background: #3875d7;

      a {
        color: white;
      }
    }
  } 
}

.search-new-product-form {
  padding: 22px;

  .form-control {
    display: inline-block;
    width: 388px;
  }

}
