%footer.footer
  .bottom-links
    .container
      .row
        .col-lg-12.outline.about-dgb
          %h4
            About DGB

          .about.col-lg-4
            %h5
              Service
            %p
            DGB is a sevice provides you a SIMPLER SMARTER way of 
            order management and customer management.

          .about.col-lg-4
            %h5
              Our way of thinking
            %p
              DGB is a sevice provides you a SIMPLER SMARTER way of 
              In DGB we believe in simple intuitive design.
              We build the product everyone can have a go.

          .about.col-lg-4
            %h5
              Team behind this product
            %li
              Jack Wu, a Ruby and AngularJS Developer, good at skatebording.
            %li
              Bill Tian, a Ruby and PHP Developer.
            %li
              Rita Li, The Header of Marketing.

      .row
        .col-sm-12.outline

          %h4
            Follow Us on Social Meida

          .social-media-group
            = link_to '#' do
              <i class="fa fa-facebook-official fa-3"></i>
            = link_to '#' do
              <i class="fa fa-github-square fa-3"></i>
            = link_to '#' do
              <i class="fa fa-google-plus-square fa-3"></i>
            = link_to '#' do
              <i class="fa fa-linkedin-square fa-3"></i>


  %hr.divider
    .container
      .row
        .col-sm-6
          .copy-right
            © 2015 qBit, All Rights Reserved.
