<div>
  <h3> Add New Customer </h3>

  <hr/>


  <div class="row">
    <div class="col-lg-8 light-border">
      <h4>Profile</h4>

      <div>
        <%= simple_form_for @customer do |f| %>
          <div class="form-inputs">
            <%= f.input :name, required: true %>
            <%= f.input :address, required: true %>
          </div>
          
          <div class="form-actions">
            <%= f.button :submit, "Save"  %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
