$smoke: #666;
$dark_gray: #262626;
$bg_dark:  #111;
$divider_gray: #202020;
$white_smoke: #c2c2c2;
$bg_light: #f2f5f7;
$font_blue: #73879c;
$flash-red: #e74c3c;
$flash-green: #2ecc71;
$flash-yellow: #f1c40f;

