$smoke             : #666;
$dark_gray         : #262626;
$bg_dark           : #111;
$divider_gray      : #202020;
$white_smoke       : #c2c2c2;
$bg_light          : #f2f5f7;
$font_blue         : #73879c;
$flash-red         : #e74c3c;
$flash-green       : #2ecc71;
$flash-yellow      : #f1c40f;

$light-gray        : #bdc3c7;
$border-gray       : #ddd;

$figured-blue      : #316096;
$figured-deep-blue : #28507C;
$blue-shadow       : #204165;

$blue-hint         : #E6F3FA;
$pastel-blue       : #D6EBF6;
$bright-blue       : #38B7FA;
$mid-blue          : #309BD2;
$dark-blue         : #267CA7;

$aqua              : #40c0cb;

$light-gray        : #BEBCBC;
$gray-tint         : #E3E2E2;
$off-white         : #F1F1F1;
$snow              : #F7F7F7;

$milk              : #F5F5F5;

$bright-green      : #00CFB9;
$mid-green         : #00BBA7;
$dark-green        : #00A695;
$green-hint        : #E5FAF8;
$yellow-hint       : #FFF5DD;

$pastel-yellow     : #FFEDBF;
$mustard           : #DFC976;
$burnt-orange      : #B25900;
$amber             : #F0C36D;
$mid-orange        : #EE7330;
$dark-orange       : #D9682A;

$bright-red        : #FF4A6B;
$mid-red           : #E32544;
$dark-red          : #B91C35;

$mid-yellow        : #FFF5DD;

$hover-blue        : #3875d7;
