<div class="">

  <div ng-switch='actionActive'>
    <a class='jw-actions-trigger' ng-switch-when='false' ng-click='toggleActionCollection(true)'>
      <i class="fa fa-cubes"></i>
      Actions
    </a>

    <div ng-switch-when='true' class='jw-actions'>
      <span ng-show='showurl' class='jw-action'>
        <a ng-href="{{ showurl }}">
          <i class="fa fa-eye"></i>
          Detail
        </a>
      </span>

      <span ng-show='editurl' class='jw-action'>
        <a ng-href="{{ editurl }}">
          <i class="fa fa-pencil-square-o"></i>
          Detail
        </a>
      </span>

      <span ng-show='deleteurl' class='jw-action'>
        <a ng-href="{{ deleteurl }}" data-method="delete" data-confirm="{{ deleteconfirmation }}">
          <i class="fa fa-trash-o"></i>
          Delete
        </a>
      </span>

      <span ng-click='toggleActionCollection(false)'>
        <a> <i class="fa fa-times jw-action-cross"></i> </a>
      </span>

    <div>
  </div>

</div>
