= content_for :header do
  %h2
    = @product.name

.row
  .col-lg-12.light-border
    %p
      Product created by admin user will become a public product
      which can be used by everyone.

.row
  .col-lg-12
    = render partial: "admin/products/form"

