= content_for :header do
  %h2
    = @product.name

.row
  .col-lg-7.light-border
    = render partial: "admin/products/form"

  .col-lg-4.light-border
    %p
      Product created by admin user will become a public product
      which can be used by everyone.
