%h2
  Add a New Product

.row
  .col-lg-7.light-border
    = render partial: "admin/products/form"

  .col-lg-4.light-border
    %p
      Only admin user is able to create public product product
      which can be used by everyone as sort of template.
