@import './configs/_colors';

.btn-xxs {
  padding: 1px 6px;
}

.btn {
  display: inline-block;

  margin: 3px;
  border-radius: 3px;
  padding: 5px 12px;

  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}
