@import './configs/_colors';

.divider {
  border-top: 1px solid $divider_gray;
  margin: 0;
}

.outline {
  border-bottom: 1px dotted $white_smoke;
  font-size: 14px;
  margin: 0 0 15px;
  padding: 0 0 10px;
}

.clearfix {
  margin-top: 80px;
}

.light-border {
  border-radius: 3;
  padding: 32px;
  border: 1px solid $border-gray;
}

.cleardot {
  margin-top: 12px;
}

