@import './configs/_colors';

form {
  padding: 5px;
  margin: 5px
}

input {
  display: block;
  max-width: 388px;
}

label {
  display: block;
}

.form-actions {
  margin-left: 15px;
}


span.error {
  color: $flash-red;
}

.form-horizontal {

  label {
    display: inline-block;
    min-width: 30%;
  }

  input {
    display: inline-block;
  }

  input[type='text'] {
    min-width: 50%;
    max-width: 88%
  }

  input[type='email'] {
    min-width: 50%;
    max-width: 88%
  }

  input[type='number'] {
    min-width: 50%;
    max-width: 88%
  }

  input[type='password'] {
    min-width: 50%;
    max-width: 88%
  }

  .hint {
    margin-left: 31%;
    color: $light-gray;
  }
  
  select {
    min-width: 50%;
    max-width: 88%
  }

}

.form-vertical {
  input {
    margin: 0;
    padding: 0;
  }

  input[type='text'] {
    min-width: 88%;
  }

  select {
    min-width: 88%;
  }

  input#user_remember_me {
    float: left;
    min-width: unset;
    margin-right: 12px;
  }

}

.devise-shared-links {
  min-height: 288px;
  padding: 12px;
}

.search-inline-form {
  display: inline-block;
  margin-bottom: 24px;

  label {
    display:inline-block;
  }

  input {
    display:inline-block;
    min-width: 266px;
  }
}

.btn {
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 3px 12px;
  vertical-align: top;
  white-space: nowrap;
  vertical-align: baseline;
}

.btn-primary {
  border-color: $figured-deep-blue;
  color: white;
}

.form-inputs {
  padding: 5px;
  margin: 5px 
} 

.input {
  margin: 5px;
  padding: 5px;
}

.top-actions {
  display: inline-block;
  vertical-align: bottom;

  width: 100%;

  padding: 5px;
  margin: 5px;

  .filter {
    float: left;
  }

  .action {
    float: right;
  }
}

#product_description {
  height: 266px;
  width: 455px;
}

.phone-row {
  background-color: $snow;
  border-bottom: 1px solid $font-blue;
}

.email-row {
  border-left: 2px solid $figured-blue;
}

.display-row {
  margin: 5px;
  padding: 5px;

  .inline-label {
    display: inline-block;
    min-width: 10%;
  }

  .display-label {
    margin-right: 5px;
    padding-left: 5px;
    font-weight: bold;
  }

  .btn {
    margin-left: 3px;
  }
}

.editable-hide {
  display: none !important;
}

.form-control {
  border: 1px solid #cccccc;
  border-radius: 2px;
  font-size: unset;
  padding: 2px 12px;
  height: 32px;
}

.editable-buttons {
  margin-left: 5px;
}

.btn-xxs {
  padding: 1px 6px;
}

span.error {
  margin-left: 5px;
}

.select2 {
  border: 0;
  box-shadow: 0;
  box-shadow: unset;
  padding: 2px 0px;
  max-width: 80%;
  min-width: 50%;
}

.inline-filter {
  display: inline-block;
}
