.jw-actions {
  cursor: pointer;
  font-size: 14px;
}

.jw-actions-trigger {
  cursor: pointer;
  font-size: 14px;
}

.jw-action {
  cursor: pointer;
  font-size: 14px;
}

.jw-action-cross {
  margin-left: 12px;
  font-size: 18px;
}
