@import './configs/_colors';

.main {
  padding-top: 50px;
  padding-bottom: 50px;

  background-color: #fff;
  position: relative;
  z-index: 1;
  min-height: 877px;
}

.row {
  margin: 0;
}

.section-header {
  padding: 35px 0;
  padding-left: 256px;

  background-color: $milk;

  h2 {
    font-weight: 600;
    text-transform: uppercase;
  }

  .lead {
    margin: 0 22px;
    font-weight: 300;
  }
}

.table-container {
  padding: 88px
}

nav.topnav {
  height: 60px;
  margin: 0;
}
