@import './configs/_colors';

.modal-backdrop {
  background-color: $figured-deep-blue;
  position: inherit;
}

.modal-header {
  border-bottom: 1px solid #e5e5e5;
  border-radius: 0;
}

.modal-content {
  position:absolute;
  border-radius: 0;

  width: 1024px;

  top: 15%;
  left: 388px;
}

.modal-footer {
  background-color: #e6f3fa;
  border-top: 1px solid #d6ebf6;
  border-radius: 0;
  min-height: 46px;
}
