@import './configs/_colors';

.modal-backdrop {
  background-color: $figured-deep-blue;
  position: inherit;
}

.modal-header {
  border-bottom: 1px solid #e5e5e5;
  border-radius: 3px;
}

.modal-content {
  position:absolute;
  top:10%;
  left:20%;
  right:20%;
}

.modal-footer {
  background-color: #e6f3fa;
  border-top: 1px solid #d6ebf6;
  border-radius: 3px;
  min-height: 46px;
}
