@import './configs/_colors';

.modal-content {
  background-clip: padding-box;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  margin-left: 16%;
  margin-top: 10%;
  outline: 0 none;
  position: relative;
  width: 66%;
  min-height: 366px;
}

.modal-footer {
  border-top: 0;
  padding: 5px;
  text-align: right;
}

.modal-backdrop {
  background-color: $figured-deep-blue;
  position: inherit;
}

.modal-content {
  border-radius: 0;
}

.modal {

}

.modal-header {
  border: 0;
}
