@import './configs/_colors';


table.table {
  tbody {
    tr {
    
      td {
        font-size: 12px;
      }
    
    }
  }

  thead {
    tr{
    
      th {
        font-size: 12px;
      }
    
    }
  }
}

.sl-no-record.warning {
  background: $pastel-yellow;
  padding: 12px;
  font-weight: bold;
}

.smart-listing.loading {
  display: none;
}

.is-boolean {
  text-transform: capitalize;
}


.is-state {
  text-transform: capitalize;
}


