@import './configs/_colors';


nav.topnav {

  li.nav-tab {
    height: inherit;
    padding-top: 12px;

    a {
      padding-bottom: 5px;
      padding-top: 5px;

      color: $dark_gray;
      font-weight: 600;
      line-height: 32px;

      background-color: unset;

      text-transform: uppercase;

      &:hover, &:focus {
        color: $mid-green;
      }
    }

  }

}

.navbar-default .navbar-nav .open {

  a:hover {
    color: $mid-green;
    background-color: unset;
  }

  a:focus, a:active {
    background-color: unset;
  }

}

.navbar-default .navbar-nav .active {

  a:hover {
    color: $mid-green;
    background-color: unset;
  }

  a:focus, a:active {
    background-color: unset;
  }

}

.dropdown-menu {
  border-top: 2px solid $mid-green;
  margin: 0;
  padding: 0;

  .dropdown-entry {
    a {
      width: 228px;

      border-radius: 0;
      padding: 7px;
    }

    a:focus, a:hover {
      color: $mid-green;
      background-color: $milk;
    }
  }

}
