@import './configs/_colors';

.navbar-custom {
  background-color: rgba(10, 10, 10, 0.9);
  border: 0 none;
  border-radius: 0;
  font-family: "Roboto Condensed",sans-serif;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: white;
}

.nav-tab.active {
  background: white;
}

li.active.nav-tab a {
  color: $dark_gray;
}

.topnav {
  display: block;
}

.navbar-nav li a {
  color: white;
}

.nav > li > a:hover, .nav > li > a:focus {
  color: $dark_gray;
}

.navbar-custom .dropdown-menu {
  background: none repeat scroll 0 0 rgba(26, 26, 26, 0.9);
  border: 0 none;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
}

.navbar-custom .dropdown-menu > li > a {
  font-size: 12px;
  letter-spacing: 2px;
  padding: 11px 15px;
}

.navbar-header a {
  color: white;
  font-size: 18px;
  left: 5%;
  position: absolute;
  top: 30%;

  :hover {
    text-decoration: none;
  }
}

.nav-tab-right {
  float: right !important;
}

.navbar-custom .dropdown-menu > li > a {
  font-size: 12px;
  letter-spacing: 2px;
  padding: 11px 15px;
  color: white;

  &:hover, &:focus {
    color: $dark_gray;
  }
}
