<h4>Contacts</h4>

<div ng-controller='CustomerContactController as costomer'>

  <div ng-repeat='contact in customerContacts'>
    <div class='display-row {{contact.name | lowercase}}-row'>
      <span class='display-label'> {{contact.name}} </span>

      <span class='pull-right'> 
        <button class="btn btn-xxs btn-danger" ng-really-click="destroyCustomerContact(contact.id)" ng-really-message= 'Are you sure you want to delete this contact ?'>
          <i class="fa fa-trash-o"></i> 
        </button>
        <button class="btn btn-xxs btn-default" ng-click="contactForm.$show()" ng-hide="contactForm.$visible">
          <i class="fa fa-pencil-square-o"></i>
        </button>
      </span>

      <form editable-form name='contactForm' onbeforesave="updateCustomerContact($data, contact.id)">

        <div class='display-row' editable-text="contact.detail" e-name="detail" e-required >
          {{contact.detail}}
        </div>

        <button class="btn btn-default" ng-show="contactForm.$visible" ng-disabled="contactForm.$waiting">
          <i class="fa fa-check"></i>
        </button>
      </form>

    </div>
  </div>

  <div class='pull-right'>
    <button class='btn btn-default' data-toggle='modal', data-target='#modal-new-customer-contact'>
      <i class="fa fa-plus-square"></i>
      Add new contact
    </button>
  </div>
  
</div>
