<h4>Contacts</h4>

<div ng-controller='CustomerContactController as costomer'>

  <div ng-repeat='contact in customerContacts'>
    <div class='display-row {{contact.name | lowercase}}-row'>
      <span class='display-label'> {{contact.name}} </span>

      <span class='pull-right'> 
        <button class="btn btn-xxs btn-danger" ng-really-click="destroyCustomerContact(contact.id)" ng-really-message= 'Are you sure you want to delete this contact ?'>
          <i class="fa fa-trash-o"></i> 
        </button>
        <button class="btn btn-xxs btn-default" ng-click="contactForm.$show()" ng-hide="contactForm.$visible">
          <i class="fa fa-pencil-square-o"></i>
        </button>
      </span>

      <form editable-form name='contactForm' onbeforesave="updateCustomerContact($data, contact.id)">

        <div class='display-row' editable-text="contact.detail" e-name="detail" e-required >
          {{contact.detail}}
        </div>

        <button class="btn btn-default" ng-show="contactForm.$visible" ng-disabled="contactForm.$waiting">
          <i class="fa fa-check"></i>
        </button>
      </form>

    </div>
  </div>

  <div class='pull-right'>
    <button class='btn btn-default' data-toggle='modal', data-target='#modal-new-customer-contact'>
      <i class="fa fa-plus-square"></i>
      Add new contact
    </button>
  </div>
  
</div>

<div class='modal fade' id="modal-new-customer-contact" ng-controller='CustomerContactController as costomer'>
  <div class='modal-content'>
    <div class='modal-header'>
      <button class='close' data-dismiss='modal' aria-hidden='true' >
        <%= icon 'times' %>
      </button>
      <h3> Add a New Contact </h3>
    </div>

    <div class="row">
      <div class="col-lg-8">

        <form class='form-vertical'>
          <div class='input'>
            <label>Contact Type</label>
            <select class='form-control' ng-model="newContact.name"> 
              <% types = %w( Phone WeChat QQ Facebook ) %>
              <%= options_for_select(types)  %>
            </select>
          </div>

          <div class='input'>
            <label>Detail</label>
            <input class='form-control' ng-model="newContact.detail" type="text">
          </div>
        </form>

      </div>
    </div>

    <div class='modal-footer'>
      <div class="form-actions">
        <button class='btn btn-primary' type='submit' ng-click='createContact(newContact)'>
          Save
        </button>
        <a class='btn btn-default' data-dismiss='modal' aria-hidden='true' >
          Cancel
        </a>
      </div>
    </div>

  </div>

</div>

