<h4>Contacts</h4>

<div ng-controller='CustomerContactController'>

  <div ng-repeat='contact in customerContacts'>
    <div class='display-row {{contact.name | lowercase}}-row'>
      <span class='display-label'> {{contact.name}} </span>

      <span> <a editable-text="contact.detail" onbeforesave="updateCustomerContact($data, contact.id)">{{contact.detail}}</a> </span>

      <span class='pull-right' ng-really-click="destroyCustomerContact(contact.id)" ng-really-message= 'Are you sure you want to delete this contact ?'> 
        <button class="btn btn-xxs btn-danger">
          <i class="fa fa-trash-o"></i> 
        </button>
      </span>

    </div>
  </div>
  
</div>


